.git
.gitignore
.vscode
.idea

**/bin
**/obj
**/node_modules
**/dist
**/test-results
**/playwright-report
**/.DS_Store

frontend/.env
frontend/.env.*
backend/PersonalFinanceTracker.Api/appsettings.Development.json

